{%extends "base.html"%}
{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
    
{% block myblock %}
<h1 style="font-size: 50px; font: bold; color: black; text-align: center; margin-top: 50px;text-decoration: underline;">OUR CATEGORIES ({{category|length}})</h1>

<div class="content mt-5 ">
    <h1 class="text1">WHAT ARE YOU LOOKING FOR?</h1>
    <div class="container ">
        <div class="row mt-5">
            
            {% for c in category %}
            <div class="col-md-3 mx-auto text-center">
                <div class="card">
                    <img src="/media/{{c.cover_pic}}" alt="" class="card-img-top rounded land">
                    <a href="{% url 'all_properties' %}?cat={{c.id}}">
                    <div class="card-body bg-light">
                        <h2>{{c.cat_name}}</h2>
                        <p>{{c.description}}</p>
                    </div>
                    </a>
                </div>
                
            </div>
           
            
{% endfor %}

    </div></div><br><br>
    
{% endblock %}