{% extends "base.html" %}
{% load static %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="div1 bg-primary text-center">
                <p>h</p>
           </div>
           <div class="div2 text-center">
                <img src="{% static 'images/formal5.jpg'%}" class="img">
           </div>
           <div class="bg-light my-4">
           <h2>Manage Account</h2>

    <li>
       <a href="{% url 'dashboard' %}"><i class="fa fa-user"></i> My Profile</a>
    </li>
    <li>
       <a href="{% url 'favourite' %}"><i class="fa fa-heart"></i> Favourite Properties</a>
    </li>
    <li>
       <a href="{% url 'addproperty' %}"><i class="fa fa-plus"></i> Submit New Proerty</a>
    </li>
    <li>
       <a href="{% url 'myproperty' %}"><i class="fa fa-file-archive"></i>My properties</a>
    </li>
    <li>
        <a href="{% url 'editprofile' %}">Edit profile</a>
    </li>
    <li>
       <a href="{% url 'changepassword' %}"><i class="fa fa-lock"></i> Change Password</a>
    </li>
    <li>
       <a href="{% url 'user_logout' %}"><i class="fa fa-power-off"></i> Log out</a>
    </li>
            </div>

            
 
        </div>
    </div>
</div>
{% endblock %}